<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Página Principal</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/createProfile.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
             <h1> Datacenter </h1>
        </header>
        <section class="box">
          
          <form action="/profileCreate" method="POST" >
              <fieldset>
                  <legend>Data Information</legend>
                  <input name="profileData[name]" type="text" value="" placeholder="Name">
                  <input name="profileData[dataBirth]" type="date" placeholder="Birth date"><br>
                  <input name="profileData[gender]" type="radio" value="male" checked>male<br>
                  <input name="profileData[gender]" type="radio" value="female" >female<br>                  
                  <input name="profileData[phone]" type="tel" placeholder="phone">
                  <button type="submit"> Send </button>
              </fieldset>
          </form>
        </section>
            <footer>
                <a href="/landing" >Return</a> | <a href="/exit"> Exit </a>
               
            </footer>
    </body>
</html>