* {
    font-size: 16px;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-color: #121214;
    color: white;
}

.box {
    width: 400px;
    height: 500px;
    background-color:#202024 ;
    margin-top: 60px;
    margin-left: 30px;
    padding: 10px;
    
}


a {
    text-decoration:none; 
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxOne {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.boxTwo {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: rgb(177, 226, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

@media (min-width: 1100px){ 
    
    header {
       display: flex;
       align-items: center;
       justify-content: center;
    }
    
    .box {
        margin-left: 36%;
        
    }

    
}