<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Página Principal</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
             <h1> Página Landing</h1>
        </header>
        <section class="box">
          

            <div class="boxOne"><a href="/create">Created Profile</a></div>
            <div class="boxTwo"><a href="/view">View Profile</a></div>
        </section>
            <footer>
                <a href="/" ></a> | <a href="/exit"> Sair </a>
               
            </footer>
    </body>
</html>