<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Página Principal</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
        
    </head>
    <body>
        <header>
            <h1>DataCenter</h1>
            <h4>Welcome! Enjoy it!</h4>
        </header>
        <section>
            <form action="/join" method="post">
                <input type="text" name="user[nome]"
                placeholder="Name">
                <br>
                <input type="password" name="user[password]"
                placeholder="Password">
                <br>
                <button type="submit">Entrar</button>
            </form>
        </section>
            <footer>
                <small>DataCenter</small>
            </footer>
    </body>
</html>